<!DOCTYPE html>
<html>
  <head>
    <title>Kentsel Sozluk</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    	<link rel="icon" href="https://cdn0.iconfinder.com/data/icons/good-view/500/View-08-512.png">
    <link rel='stylesheet' href='/stylesheets/landing.css' />
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="container">
      <div id="title">
        <h3>Welcome to </h3>
        <h1>Kentsel Sozluk</h1>
        <a href="/entries"><button class="btn">Go To The Entries Page</button></a>
      </div>
    </div>
  </body>
</html>
