<% include ../partials/header %>

<form action="/entries/<%= entry._id %>/?_method=PUT" method="POST">
    <div class="input content">
      <textarea name="content" id="content" cols="90" rows="20" required><%= entry.content %></textarea>
    </div>  
        <button type="submit" class="submit-btn">Update Your Definition</button>
</form>
<% include ../partials/footer %>
